@model HRMSCrypto.Models.EmployeeViewModel

@{
    ViewData["Title"] = "Create";

}



<h2>Add a new employee</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="Name" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-7">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="LastName" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-7">
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group row">
                <label asp-for="DateOfBirth" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-7">
                    <input asp-for="DateOfBirth" class="form-control" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Address" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-7">
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="StartDate" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-7">
                    <input asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="PhoneNumber" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-7">
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <!--<div class="form-group">
        <label asp-for="EndDate" class="control-label"></label>
        <input asp-for="EndDate" class="form-control" />
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>-->
            <div class="form-group row">
                <label asp-for="Email" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-7">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Salary" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-7">
                    <input asp-for="Salary" class="form-control" />
                    <span asp-validation-for="Salary" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="BrojRacuna" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-7">
                    <input asp-for="BrojRacuna" class="form-control" />
                    <span asp-validation-for="BrojRacuna" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="JobId" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-7">
                    <select asp-for="JobId" class="form-control" asp-items="ViewBag.JobId"></select>
                    <span asp-validation-for="JobId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="DepartmentId" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-7">
                    <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
