@model HRMSCrypto.Models.EmployeeViewModel

@{
    ViewData["Title"] = "Resign";

}
    <h2>Are you sure you want to fire this employee?</h2>

<hr />

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
</div>

<form asp-action="Resign">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div hidden class="form-group row">
        <label asp-for="Id" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Id" disabled class="form-control" />
        </div>
    </div>

    <div hidden class="form-group row">
        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div hidden class="form-group row">
        <label asp-for="LastName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>
    <div hidden class="form-group row">
        <label asp-for="DateOfBirth" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="DateOfBirth" type="date" asp-format="{0:yyyy-MM-dd}" class="form-control" />
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>
    </div>
    <div hidden class="form-group row">
        <label asp-for="Address" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
    </div>

    <div hidden class="form-group row">
        <label asp-for="StartDate" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="StartDate" type="date" asp-format="{0:yyyy-MM-dd}" class="form-control" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
    </div>

    <div hidden class="form-group row">
        <label asp-for="PhoneNumber" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Please enter the end date: </label>
        <div class="col-sm-8">
            <input asp-for="EndDate" type="date" asp-format="{0:yyyy-MM-dd}" class="form-control" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
    </div>

    <div hidden class="form-group row">
        <label asp-for="Email" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div hidden class="form-group row">
        <label asp-for="Salary" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Salary" class="form-control" />
            <span asp-validation-for="Salary" class="text-danger"></span>
        </div>
    </div>

    <div hidden class="form-group row">
        <label asp-for="BrojRacuna" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="BrojRacuna" class="form-control" />
            <span asp-validation-for="BrojRacuna" class="text-danger"></span>
        </div>
    </div>

    <div hidden class="form-group row">
        <label asp-for="JobId" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-for="JobId" class="form-control" asp-items="ViewBag.JobId"></select>
            <span asp-validation-for="JobId" class="text-danger"></span>
        </div>
    </div>

    <div hidden class="form-group row">
        <label asp-for="DepartmentId" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
            <span asp-validation-for="DepartmentId" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group">
        <input type="submit" value="Resign" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-warning">Cancel</a>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
