@{
    ViewData["Title"] = "Home Page";
}

    <img class="slika" src="~/img/welcome.png" alt="Welcome">

    <div class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Human Resource Management System
        </div>
