@{
    ViewData["Title"] = "Home Page";
}

    <div class="slika">
        <h2 style="color: white;">Welcome</h2>
    </div>

    <div class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Human Resource Management System
        </div>
